<h2 mat-dialog-title>Tạo mới</h2>

<form class="row container" [formGroup]="form">

    <mat-dialog-content>

        <!-- Name -->
        <mat-form-field class="input-custom">
            <input matInput placeholder="Mô tả" #name formControlName='Description' maxlength="300">
            <mat-hint align="end">{{name.value.length}} / 300</mat-hint>
            <mat-error *ngIf="Description.errors?.required && Description.touched">
                Vui lòng nhập <strong>Tên</strong>
            </mat-error>
            <mat-error *ngIf="Description.errors?.maxLength && Description.touched">
                Tên không được quá <strong>300 kí tự</strong>
            </mat-error>
        </mat-form-field>
        <!-- /Name -->

        <!-- Quantity -->
        <mat-form-field class="input-custom">
            <input matInput placeholder="Số lượng" (keyup)="calcuTotal()" formControlName='Quantity'>
            <mat-error *ngIf="Quantity.errors?.required && Quantity.touched">
                Vui lòng nhập <strong>Số lượng</strong>
            </mat-error>
            <mat-error *ngIf="Quantity.errors?.min && Quantity.touched">
                Số lượng phải <strong>lớn hơn 0</strong>
            </mat-error>
            <mat-error *ngIf="Quantity.errors?.pattern && Quantity.touched">
                Số lượng chưa <strong>đúng định dạng</strong>
            </mat-error>
            <mat-error *ngIf="Quantity.errors?.maxLength && Quantity.touched">
                Số lượng không được quá <strong>9 số</strong>
            </mat-error>
        </mat-form-field>
        <!-- /Quantity -->

        <!-- Unit Price -->
        <mat-form-field class="input-custom">
            <input matInput placeholder="Đơn giá" (keyup)="calcuTotal()" formControlName='Price'>
            <mat-error *ngIf="Price.errors?.required && Price.touched">
                Vui lòng nhập <strong>Đơn giá</strong>
            </mat-error>
            <mat-error *ngIf="Price.errors?.min && Price.touched">
                Đơn giá phải <strong>lớn hơn 0</strong>
            </mat-error>
            <mat-error *ngIf="Price.errors?.pattern && Price.touched">
                Đơn giá chưa <strong>đúng định dạng</strong>
            </mat-error>
            <mat-error *ngIf="Price.errors?.maxLength && Price.touched">
                Số lượng không được quá <strong>15 số</strong>
            </mat-error>
        </mat-form-field>
        <!-- /Unit Price -->

        <!-- Total -->
        <mat-form-field class="input-custom">
            <input matInput placeholder="Thành tiền (VNĐ)" formControlName='Total' 
                  (keyup)="formatTotalCurrency($event.target.value)">
            <mat-error *ngIf="Total.errors?.required && Total.touched">
                Vui lòng nhập <strong>Thành tiền</strong>
            </mat-error>
            <mat-error *ngIf="Total.errors?.min && Total.touched">
                Thành tiền phải <strong>lớn hơn 0</strong>
            </mat-error>
            <mat-error *ngIf="Total.errors?.pattern && Total.touched">
                Thành tiền chưa <strong>đúng định dạng</strong>
            </mat-error>
            <mat-error *ngIf="Total.errors?.maxLength && Total.touched">
                Số lượng không được quá <strong>15 số</strong>
            </mat-error>
        </mat-form-field>
        <!-- /Total -->

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button color="primary" class="col-md-1" 
                type="submit" 
                [disabled]="!form.valid" (click)="save(form.value)">
            <mat-icon>save</mat-icon>Lưu
        </button>
        <button mat-raised-button class="col-md-1" (click)="close()">
            <mat-icon>block</mat-icon>Hủy
        </button>
    </mat-dialog-actions>
</form>