<mat-card class="container">
    <div class="container-login">
        <form class="form-login">

            <h1 class="title">Quản lí sân bóng</h1>
            <div class="input">
                <i class="fa fa-user fa-lg"></i>
                <input class="input__input" type="text" placeholder="Tài khoản" />
            </div>

            <div class="input">
                <i class="fa fa-lock fa-lg"></i>
                <input class="input__input" type="password" placeholder="Mật khẩu" />
            </div>

            <div class="login-other">
                <mat-checkbox>Ghi nhớ tài khoản</mat-checkbox>

                <h4>

                </h4>
            </div>

            <button mat-button color="primary" class="btn-login"
                    (click)="login()">
                ĐĂNG NHẬP
            </button>

        </form>

        <div class="divide">
            <h4 class="or">Hoặc</h4>
        </div>

    </div>

    <div class="container-forget">
        <form class="form-forget">
            <h1 class="title">Quản lí sân bóng</h1>
            <h4>Vui lòng nhập gmail để lấy lại tài khoản</h4>
            <div class="input">
                <mat-icon>gmail</mat-icon>
                <input type="text" placeholder="Gmail" />
            </div>

            <button mat-button color="primary" type="submit" class="btn-forget">
                GỬI GMAIL
            </button>
        </form>

        <div class="back-login">
            <i class="fa fa-arrow-left"></i>
            <a>Quay về đăng nhập</a>
        </div>
    </div>

</mat-card>
<mat-card class="panel">
    <div class="background"></div>
    <div class="introduce">
        <h3 class="introduce-title">DTMS</h3>
        <h3 class="introduce-content">Mong muốn đem lại cho các bạn một ứng dụng tiện ích</h3>
    </div>

</mat-card>