@import '../../../../scss/default-theme.scss';


.container{
    top: 50%;
    left: 50%;
    width: 80%;
    height: 60%;
    padding: 15px;
    position: absolute;;

    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    border-radius: 20px;
    border: 0.2px solid $unfocus;
    box-shadow: 0px 10px 30px 5px $unfocus;

    .container-login{

        top: 10%;
        left: 5%;
        float: left;
        position: relative;
        width: 30%;

        .title{
            text-align: center;
        }

        .login-other{

            display: inline;
        }

        .divide{
            width: 80%;
            height: 2px;
            margin: 0 auto;
            margin-top: 20px;
            position: relative; 
            background-color: $unfocus;
            display: flex;
            align-items: center;
            justify-content: center;

            .or{
                background-color: $default;
                color: $focus;
                width: 80px;
                font-style: normal;
                text-align: center;
            }
        }

        .other{
            margin: 0 auto;
            margin-top: 40px;
            display: flex;
            justify-content: center;


            
        }
    }

    .container-forget{
        top: 10%;
        right: 5%;
        float: right;
        position: relative;
        width: 30%;

    }
}

.input{

    border: 1px solid $unfocus;
    border-radius: 20px;
    width: 100%;
    margin: 5px 0px 5px 0px;
    position: relative;
    height: 40px;        
    display: table;
    color: $unfocus;
    transition: all 0.5s;

    &:hover{

        border: 1px solid $primary-color;
        color: $primary-color;

        .input__input{
            color: $focus; 
        }   
    }

    &__input{
        width: 85%;
        font-size: 18px;
        outline: none;
        display: inline-block;
        border: none;
        margin: 8px 0px 2px 10px;
    }
    
    .fa{
        margin: 5px 0px 5px 20px;
    }

}

.btn-login, .btn-forget{
    position: relative;
    width: 100%;
    height: 45px;
    border: none;        
    box-shadow: 0px 2px 20px 2px $unfocus;
    border-radius: 20px;
    background-color: $primary-color;
    color: $default;
}

.panel{

    right: 5%;
    top: 40%;
    height: 70%;
    width: 40%;
    position: absolute;
    z-index: 1;
    transform: translate(-15%,-35%);
    box-shadow: 0px 0px 20px $focus;
    border-radius: 20px;
    background-color: $primary-color;

    .background{
        position: absolute;
        opacity: 0.6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../../../assets/images/background.jpeg');
        z-index: -1;
        border-radius: 20px;
    }

    .introduce{

        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $default;
        text-align: center;

        .introduce-title{
            font-size: 30px;
        }
    
        .introduce-content{
            font-size: 16px;
            width: 250px;
            word-wrap: break-word;
        }
    }

}

mat-mini-fab{
    background-color: $default;
}