.loading-shade
{
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    background: rgba(255, 255, 255, .25);

    align-items: center;
    justify-content: center;
}
