@import '../scss/default-theme.scss';

.content
{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: $default;
    > .content-area
    {
        display: flex;
        flex-direction: row;

        align-items: stretch;
    }
}
