@import "../../node_modules/@angular/material/theming";
// $typography-config: mat-typography-config( $font-family: 'Quicksand, sans-serif');
@include mat-core();
$app-primary: mat-palette($mat-green, 900);
$app-accent: mat-palette($mat-green);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

// Color
$dark-color-1: #1b5e20;
$dark-color-2: mat-color($mat-green, 900);
$primary-color: mat-color($mat-green, 900);

$unfocus: #e0e0e0;
$focus: #424242;
$default: white;

// start nav bar
$nav-bg-color:#1b5e20; //#fff;
$nav-height-color: 60px;
$nav-text-color:#FFFFFF;// #9d9797;
$nav-list-item-height: 44px;
$nav-hover-item-bg-color: #c9c9c9fa;
$nav-hover-item-text-color: #1b5e20;
$nav-hover-item-border-radius-color: 4px;
// end nav bar
