<!-- Title -->
<mat-card class="row card-custom">
    <div>
        <h3 style="display: inline">Chi phí</h3>

        <button mat-flat-button color="primary" (click)="create()" class="button-new inline">
            <mat-icon>add</mat-icon> Tạo mới
        </button>
    </div>
</mat-card>
<!-- /Title -->

<!-- Input search -->
<mat-card class="card-custom card-search">
    <!-- Form Search -->
    <form class="row" [formGroup]="formSearch" (ngSubmit)="search(formSearch.value)">

        <!-- Route Day -->
        <mat-form-field class="input-custom">
            <input matInput [matDatepicker]="pickerFromDate" placeholder="Ngày bắt đầu" formControlName="FromDate"
                readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerFromDate color="primary"></mat-datepicker>
        </mat-form-field>
        <!-- /Route Day -->

        <!-- Destination Day -->
        <mat-form-field class="input-custom">
            <input matInput [matDatepicker]="pickerToDate" placeholder="Ngày kết thúc" formControlName="ToDate"
                readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerToDate color="primary"></mat-datepicker>
        </mat-form-field>
        <!-- /Destination Day -->

        <!-- Search Button -->
        <button mat-mini-fab color="primary" type="submit" [disabled]="!formSearch.valid">
            <mat-icon>search</mat-icon>
        </button>
        <!-- /Search Button -->

    </form>
    <!-- /Form Search -->
</mat-card>
<!-- /Input search -->

<!-- Table -->
<mat-card class="card-custom">

    <div style="display: flex; float: right;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
        </mat-form-field>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 20, 50, 100]">
        </mat-paginator>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã </th>
            <td mat-cell *matCellDef="let cost"> {{cost.ID}} </td>
        </ng-container>
        <!-- /Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên </th>
            <td mat-cell *matCellDef="let cost"> {{cost.Name}} </td>
        </ng-container>
        <!-- /Name Column -->

        <!-- Unit Column -->
        <ng-container matColumnDef="Unit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn vị tính </th>
            <td mat-cell *matCellDef="let cost"> {{cost.Unit}} </td>
        </ng-container>
        <!-- /Unit Column -->

        <!-- Quantity Column -->
        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng </th>
            <td mat-cell *matCellDef="let cost"> {{cost.Quantity | number:'0.0-2'}} </td>
        </ng-container>
        <!-- /Quantity Column -->

        <!-- UnitPrice Column -->
        <ng-container matColumnDef="UnitPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn giá </th>
            <td mat-cell *matCellDef="let cost"> {{cost.UnitPrice | number:'0.0-2'}} </td>
        </ng-container>
        <!-- /UnitPrice Column -->

        <!-- Total Column -->
        <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Thành tiền </th>
            <td mat-cell *matCellDef="let cost"> {{cost.Total | number:'0.0-2'}} </td>
        </ng-container>
        <!-- /Total Column -->

        <!-- Note Column -->
        <ng-container matColumnDef="Note">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ghi chú </th>
            <td mat-cell *matCellDef="let cost"> {{cost.Note}} </td>
        </ng-container>
        <!-- /Note Column -->

        <!-- Status Column -->
        <ng-container matColumnDef="StatusID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tình trạng </th>
            <td mat-cell *matCellDef="let cost">
                <label *ngIf="cost.StatusID == 'NEW'" class="status label-new">Tạo mới</label>
                <label *ngIf="cost.StatusID == 'MODIFIED'" class="status label-modified">Chỉnh sửa</label>
            </td>
        </ng-container>
        <!-- /Status Column -->

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Thao tác </th>
            <td mat-cell *matCellDef="let cost">
                <button mat-icon-button (click)="edit(cost.ID)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <!-- /Action Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
<!-- /Table -->