@import "../../../../scss/default-theme.scss";

.example-icon {
  padding: 0 14px;
}

mat-toolbar-row {
  display: 1 1 flex;
}

mat-nav-list {
  display: flex;
}

mat-toolbar {
  box-shadow: 2px 2px 20px $unfocus;
  z-index: 2;
}

mat-menu {
  background-color: $default;

  mat-menu-item {
    width: 200px;
    float: left;
  }
}

// custom front-end for nav bar.
mat-toolbar {
  min-height: $nav-height-color;
  background-color: $nav-bg-color !important;
  mat-toolbar-row {
    height: $nav-height-color;
    .logo-header {
      padding: 15px 15px;
      width: 20%;
      text-decoration-line: none;
      .logo-text {
        color: $nav-text-color;
      }
    }

    mat-nav-list {
      padding-top: 0px;
    }

    mat-nav-list.menu-main {
      .mat-list-item {
        margin-right: 5px;
        height: $nav-list-item-height;
        color: $nav-text-color !important;
        &.active,
        &:hover {
          background-color: $nav-hover-item-bg-color;
          color: $nav-hover-item-text-color !important;
          border-radius: $nav-hover-item-border-radius-color;
        }
      }
    }

    mat-nav-list.menu-right {
      position: absolute;
      right: 15px;

      span {
        color: $nav-text-color;
      }

      .mat-list-item {
        &:hover {
          background-color: $nav-hover-item-bg-color;
          color: $nav-hover-item-text-color !important;
          border-radius: $nav-hover-item-border-radius-color;
        }
      }
    }
  }
}
