<mat-toolbar>
  <mat-toolbar-row>
    <a class="logo-header" routerLink="/">
      <span class="logo-text">Foot Management</span>
    </a>

    <mat-nav-list class="menu-main">
      <mat-list-item routerLink="/pitch-book" routerLinkActive="active">Lịch đặt sân</mat-list-item>
      <mat-list-item [matMenuTriggerFor]="menu">Quản lí dữ liệu</mat-list-item>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/pitch-price" routerlinkActive="active">Giá sân</a>
        <a mat-menu-item routerLink="/item" routerlinkActive="active">Dịch vụ</a>
        <a mat-menu-item routerLink="/promotion" routerlinkActive="active">Khuyến mãi</a>
        <a mat-menu-item routerLink="/member" routerlinkActive="active">Thành viên</a>
        <a mat-menu-item routerLink="/pitch-user" routerlinkActive="active">Nhân viên</a>
        <a mat-menu-item routerLink="/cost" routerlinkActive="active">Chi phí</a>
      </mat-menu>
      <mat-list-item routerLink="/report" routerLinkActive="active">Thống kê</mat-list-item>
    </mat-nav-list>

    <mat-nav-list class="menu-right">
      <mat-list-item [matMenuTriggerFor]="account">
        <span class="text-right">Chào, HoaiNT14</span>
        <i class="material-icons">arrow_drop_down</i>
      </mat-list-item>
      <mat-menu #account="matMenu">
        <a mat-menu-item routerLink="/pitch-price" routerlinkActive="active">Thông tin tài khoản</a>
        <a mat-menu-item routerLink="/logout" routerlinkActive="active">Đăng xuất</a>
      </mat-menu>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>